* {
    box-sizing: border-box;
}

body {
    font-weight: bold;
    text-align: center;
}

#header {
    background-color: #ffd3b4;
    padding: 20px;
}

#nav a {
    flex: 1 1 auto;
    text-decoration: none;
    color: black;
}

#nav {
    background: #ffe8d8;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

#nav a:hover {
    background-color: #ffd3b4;
    border-radius: 20px;
}

#article {
    text-align: justify;
    background: #ffd3b4;
    padding: 20px;
    display: flex;
}

#aside {
    background-color: #ffd3b4;
    padding: 10px;
    border: 2px dashed white;
    text-align: left;
    text-decoration: none;
    color: black;
}

#footer {
    background: #ffd3b4;
    padding: 20px;
}


@media screen and (min-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
        max-width: 1500px;
        margin: auto;
    }

    #main {
        display: flex;
    }

    #nav,
    #header {
        order: -1;
    }

    #nav {
        justify-content: space-around;
    }

    #article {
        flex: 1 1 80%;
    }

    #aside {
        flex: 1 1 20%;
        padding: 20px;
    }
}
