html, body {
    height: 100%;
}

div {
    margin: 10px;
    border: 1px solid black;
}

#külső {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #69d865;
}

#kérdés_szöveg {
    background-color: rgb(211, 255, 224);
}

#középső {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: rgb(211, 255, 224);
}

#válaszok {
    flex-grow: 1;
    flex-shrink: 1;
}

#kép {
    overflow: hidden;
    flex-shrink: 0;
    background-color: rgb(211, 255, 224);
}

#vezérlő {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(211, 255, 224);
}

.gomb {
    padding: 20px;
    width: 80px;
    border-radius: 5px;
    background-color: #69d865;
}

.kattintható:hover {
    background-color: #358b32;
    color: white;
}

.jó {
    background-color: #69d865;
}

.rossz {
    background-color: lightcoral;
}
